* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.233);
}

#inicio {

    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "descripcion"
        "imagen"
        "footer";
}

.header {

    background-color: #1a1a1a;
    grid-area: header;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 0%;
    color: rgb(197, 197, 5);
    font-size: 3em;
    font-weight: 50px;
    text-shadow: 0 0 50px rgb(196, 176, 143);

}


h2 {

    text-align: center;
    font-size: small;
    margin: 0%;
    color: rgba(170, 170, 31, 0.904);
    text-decoration: overline;
    font-style: italic;
    font-weight: 25px;
}

.navbar {

    background-color: #1a1a1ada;
    grid-area: nav;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "nav1 nav2";
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: rgba(216, 216, 143, 0.904);
}

.navbar a:hover {
    text-shadow: 0px 0px 30px rgba(158, 156, 153, 0.774);
}

.navbar a:focus {

    color: rgb(165, 160, 160);
    text-shadow: 0px 0px 10px rgba(158, 156, 153, 0.774);
}

.navbar a:active {
    text-shadow: none;
    color: rgb(119, 39, 39);
}


#nav1 {

    grid-area: nav1;
    text-align: center;

}

#nav2 {

    grid-area: nav2;
    text-align: center;
}

#desde {
    grid-area: descripcion;
    padding: 45px 15px 0px 15px;
    text-align: center;
    background-color: #1a1a1a86;
}

.descripcion {
    margin: 0%;
    color: rgb(162, 167, 94);
    font-style: italic;
    font-size: larger;
}

#imagenInicio {
    grid-area: imagen;
    background-color: #1a1a1a86;

    display: flex;
    justify-content: center;
    align-content: center;

}

.open {
    width: 50%;
}

footer {
    grid-area: footer;
    background-color: #1a1a1ada;
}

#email h3 {
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    font-size: medium;
    text-align: left;
    padding: 0%;
    margin: 0%;
    text-shadow: 0 0 20px rgb(196, 176, 143)
}

#email span {

    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    font-size: medium;
    text-shadow: 0 0 20px rgb(196, 176, 143)
}

#redes h3 {

    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    font-size: medium;
    text-align: center;
    padding-right: 0%;
    margin: 0%;
    text-shadow: 0 0 20px rgb(196, 176, 143)
}

#facebook {
    width: 40px;
    height: 40px;
}

#instagram {
    width: 35px;
    height: 35px;
}

@media (min-width: 768px) {
    #inicio {

        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 50vh 25vh;
        grid-template-areas:
            "header nav"
            "descripcion imagen"
            "footer footer";
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: header;
        background-color: #1a1a1ada;

    }


    .navbar {
        align-items: end;

    }

    #desde {
        padding: 0px 5% 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }



}

@media (min-width: 1024px) {

    #inicio {

        grid-template-rows: 25vh 55vh 20vh;
    }


    h1 {
        font-size: 65px;
        text-decoration: underline rgba(170, 170, 31, 0.904);
        text-decoration-thickness: 2px;
    }

    h2 {
        font-size: 20px;
        text-align: end;
        padding-right: 5%;
        text-decoration: none;
    }

    a {

        font-size: 25px;

    }

    #desde {

        font-size: 25px;
    }


    .open {
        width: 40%;
    }

    #email h3 {
        font-size: 20px;
    }

    #email span {
        font-size: 18px;
    }

    #redes h3 {
        font-size: 18px;
    }

}


#nosotros {

    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto auto 25vh;
    grid-template-areas:
        "header"
        "nav"
        "misvis"
        "equipo"
        "footer";
}

#objetivos {
    grid-area: misvis;
    background-color: #2c2b2bab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 2% 0% 2%;

}

#mision {
    padding: 2% 2% 5% 2%;
    padding-bottom: 2%;
    border-top: 5px double #181313;
    border-bottom: 5px double #181313;
}

#vision {
    padding: 2% 2% 5% 2%;
    padding-bottom: 2%;
    border-bottom: 5px double #181313;
}

.titulosInfo {
    margin: 0%;
    padding: 0%;
    font-size: 30px;
    padding-left: 2%;
    padding-right: 2%;
    color: rgb(197, 197, 5);
    text-align: center;
}


.nosotrosInfo {
    margin: 0%;
    padding: 0%;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    color: rgba(153, 153, 1, 0.904);
    text-align: center;


}

#nuestro {
    padding: 2% 2% 5% 2%;
    grid-area: equipo;
    background-color: #2c2b2bab;

}

#presentacion {

    border-bottom: 5px double #181313;
    padding-bottom: 2%;
}

@media (min-width: 768px) {
    #nosotros {

        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 25vh 50vh 25vh;
        grid-template-areas:
            "header header nav"
            "misvis misvis equipo"
            "footer footer footer";
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: header;
        background-color: #1a1a1ada;

    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 15px;
    }

    .navbar {
        align-items: end;

    }

    #objetivos {
        padding: 0%;
        padding-top: 5%;
        padding-left: 5%;
        flex-direction: row;
        border-bottom: none;
        align-items: start;
        justify-content: center;
        border-top: 10px double #181313;
        border-bottom: 10px double #181313;
        border-left: 10px double #181313;
    }

    #mision {
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #vision {
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nuestro {
        padding: 0%;
        padding-top: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: start;
        border-top: 10px double #181313;
        border-bottom: 10px double #181313;
        border-right: 10px double #181313;

    }


    #mision {
        border: none;
    }

    #vision {
        border: none;
    }

    .titulosInfo {
        padding: 0%;
        text-align: center;
        font-size: 35px;
    }

    .nosotrosInfo {

        padding: 0% 6% 0% 6%;
        font-size: 15px;

    }

    #presentacion {
        border: none;
    }

    #parrafoNuestroEquipo {
        padding: 0% 3% 0% 3%;
    }
}


@media (min-width: 1024px) {

    h1 {
        font-size: 65px;
        text-decoration: underline rgba(170, 170, 31, 0.904);
        text-decoration-thickness: 2px;
    }

    h2 {
        font-size: 20px;
        text-align: end;
        padding-right: 5%;
        text-decoration: none;
    }

    #nosotros {
        grid-template-rows: 25vh 55vh 20vh;

    }

    #nuestro {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #objetivos {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .titulosInfo {
        font-size: 35px;
        text-decoration: 3px solid underline rgba(153, 153, 1, 0.904);
    }

    .nosotrosInfo {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 18px;
    }

    #presentacion {
        padding-bottom: 0%;
    }

}

#sucursales {
    background-image: radial-gradient(circle at 100%, #333, #333 50%, #353434 75%, #353434 75%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh 10vh auto auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "encontranos"
        "primer"
        "tercera"
        "footer";
}

#encontranos {

    grid-area: encontranos;

}

#tituloSucursales {
    text-align: center;
    font-size: large;
    padding: 5% 5% 0% 5%;
    text-decoration: none;
    letter-spacing: 0.25em;
    align-items: center;
    /*text-shadow: 0 0 35px rgb(165, 116, 31);*/
}

#primer {
    grid-area: primer;
}

.sucursales1 {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid white;
    border-bottom: 2px dashed rgb(172, 172, 4);
    margin: 2% 2% 0% 2%;
}

#tercera {
    grid-area: tercera;
}

.sucursales2 {
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0% 2% 2% 2%;
    border-bottom: 2px solid white;
    border-top: none;
}


.localidades {
    padding-right: 1rem;
    margin: 0%;
    text-align: center;
    color: rgb(161, 127, 64);
    text-shadow: 0 0 40px rgb(133, 120, 97);
    font-size: medium;
}

ul {
    padding: 0%;
    margin: 0%;
    padding-left: 1rem;

}

.calles {
    text-align: center;
    padding-right: 1rem;
    text-decoration: double underline rgb(133, 120, 97);
    color: rgb(133, 120, 97);
    list-style-type: none;
}

.datos {
    list-style-type: none;
    text-align: center;
    padding-right: 1rem;

    color: rgb(133, 120, 97);
}

iframe {
    box-shadow: 0 0 25px rgb(119, 29, 29);
}

@media (min-width: 768px) {
    #sucursales {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 15vh auto auto 20vh;
        grid-template-areas:
            "header nav"
            "encontranos encontranos"
            "primer primer"
            "tercera tercera"
            "footer footer";
    }


    #tituloSucursales {
        padding: 5% 0% 0% 0%;
        margin: 0%;
        font-size: x-large;
    }

    .sucursales1 {
        margin: 5% 5% 0% 5%;
        padding: 0%;
        flex-direction: column;
        border-bottom: 4px double rgb(172, 172, 4);
    }

    .mapas1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin: 2% 5% 2% 5%;
    }

    .mapas2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        margin: 0% 5% 2% 5%;
        border-top: 4px dashed rgb(187, 187, 187);
    }

    .mapas3 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin: 2% 5% 5% 5%;
    }

    .mapas4 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        margin: 0% 5% 2% 5%;
        border-top: 4px dashed rgb(187, 187, 187);
    }

    .sucursales2 {
        margin: 0% 5% 5% 5%;
        padding: 0%;
        flex-direction: column;
    }

    iframe {
        height: 120px;
        width: 250px;
    }

    ul {
        margin: 5%;
    }

    .calles {

        list-style-type: none;
    }



}

@media (min-width: 1024px) {
    #sucursales {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 15vh auto auto 20vh;
        grid-template-areas:
            "header nav"
            "encontranos encontranos"
            "primer primer"
            "tercera tercera"
            "footer footer";
    }


    #tituloSucursales {
        text-decoration: 2px underline double rgb(172, 172, 4);
        padding-top: 4%;
        font-size: 38px;
    }

    #primer {
        margin: 0%;
        padding: 0%;
        padding-top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sucursales1 {
        display: flex;
        flex-direction: row;
        padding: 0%;
        margin-top: 2%;
        border: none;
    }

    #tercera {
        grid-area: tercera;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sucursales2 {
        display: flex;
        flex-direction: row;
        padding: 0%;
        border: none;
    }

    .mapas1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 50%;
        margin: .25%;
        border-right: 4px dashed rgb(187, 187, 187);
    }

    .mapas2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        border-top: none;
        width: 50%;
        margin: .25%;
        border-left: 4px solid rgb(172, 172, 4);
    }


    .mapas3 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 50%;
        margin: .25%;
        border-right: 4px solid rgb(172, 172, 4);
    }

    .mapas4 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        width: 50%;
        margin: .25%;
        border-top: none;
        border-left: 4px dashed rgb(187, 187, 187);
    }

    .localidades {
        font-size: 20px;
    }

    .calles {
        font-size: 16px;
    }

    .datos {
        font-size: 16px;
    }

}

#contactos {

    background-image: url(../assets/images/contactosbackground.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "informacion"
        "footer";
}



.contactosTasty {
    grid-area: informacion;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas:
        "cuadros"
        "areas";
}

#cuadros {
    grid-area: cuadros;
    margin: 6% 5% 2% 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#areas {
    grid-area: areas;
    margin: 2% 5% 6% 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


textarea{
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(34, 34, 34);
}

input{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(34, 34, 34);
}

#enviar{
    background-color: rgb(110, 110, 5);
}

@media (min-width: 768px) {
    #contactos {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vh 55vh 20vh;
        grid-template-areas:
            "header nav"
            "informacion informacion"
            "footer footer";

    }

    .contactosTasty {
        grid-area: informacion;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        grid-template-areas:
            "cuadros areas"
    }

   #cuadros{
        margin: 0% 5% 0% 5%;
        align-items: center;
        justify-content: center;
    }

    #areas{
        margin: 0% 5% 0% 5%;
        justify-content: center;
        
    }

    #enviar{
        width: 25%;
    }

 }

 /*MENU*/

 #menu {

    background-image: url(../assets/images/menu.webp);
    background-size: contain;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 10vh auto 20vh;
    grid-template-areas:
        "header"
        "nav"
        "menu"
        "footer";
}


.productos{
    grid-area: menu;
}

#tituloMenu{
text-align: center;
}

.clasicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tastySelection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.compartir{
    display: flex;
    justify-content: center;
    align-items: center;
}


.comida{
    width: 100px;
}